# Environments
.env
.venv
*env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__
*.egg-info
/build
/dist
docs/local
docs/_build
docs/generated/
.ipynb_checkpoints
.eggs
.ruff_cache
.vscode
.DS_Store
.idea
.coverage
Pipfile
example
synthetic_data_01
uncertainty

coverage.xml
report.xml
htmlcov
./test-reports
6D_example
result_noisecut
